.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.gallery img {
  width: 800px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #0005;
  transition: 0.3s ease;
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #0ff;
  text-shadow: 0 0 5px #0ff, 0 0 10px #08f;
  transition: color 0.2s;
}

.arrow:hover {
  color: #fff;
}
